<br>
<p-tabView  > 
    <p-tabPanel header="session">
        <p-splitter [style]="{'height': '300px'}">
            <ng-template pTemplate>
                <p-table responsiveLayout="scroll" [scrollable]="true" [tableStyle]="{'min-width':'30rem'}" [value]="(allHeros$ | async) ?? [] | isFromSession">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Joueur</th>
                            <th>Nom</th>
                            <th>Niveau</th>
                            <th>Type</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-hero>
                        <tr (click)="handleSelect(hero.nom)">
                            <td>{{hero.code_joueur}}</td>
                            <td>{{hero.nom}}</td>
                            <td>{{hero.niveau}}</td>
                            <td>{{hero.origine | heroType: herosTypes ?? []}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-template>
            <ng-template pTemplate>
                <div  *ngFor="let hero of (hero$ | async) ??[]" class="mw-20 ml-2">
                    <div class="text-center" ><h2>{{hero['nom']}}</h2></div>
                    <div><span class="text-bold">Or</span> {{hero['or']}}</div>
                    <div><span class="text-bold">Point de destin</span> {{hero['destin']}}</div>
                    <div>
                        <h3>Equipements</h3>
                        <div class="div-flex">
                            <div>
                                <h4> Equipé </h4>
                                <div *ngFor="let arme of (armes$ | async)?.armes ??[] | shouldBeEquipe : true">
                                    <p-button (onClick)="supprimer(hero['nom'],arme['code'])" icon="pi pi-trash" class="red-dot bt-sm" /> 
                                    {{arme['libelle']}} 
                                    <p-button (onClick)="desequipe(hero['nom'],arme['code'])" icon="pi pi-arrow-right" class="blue-dot bt-sm" />
                                </div>
                            </div>
                            <div>
                                <h4> Inventaire   <p-button class=" bt-sm" (onClick)="triggerAjouterStuff()" icon="pi pi-plus"></p-button></h4>
                                <div *ngFor="let arme of (armes$ | async)?.armes ??[]| shouldBeEquipe : false">
                                    <p-button (onClick)="equipe(hero['nom'],arme['code'])" icon="pi pi-arrow-left" class="blue-dot bt-sm" />
                                    {{arme['libelle']}} 
                                    <p-button icon ="pi pi-trash" class="red-dot bt-sm" />
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
            </ng-template>
        </p-splitter>
    </p-tabPanel>
    <p-tabPanel *ngFor="let joueur of (joueurs ?? [])" [header]="joueur.code">
        <p-splitter [style]="{'height': '300px'}">
            <ng-template pTemplate>
                <p-table responsiveLayout="scroll" [scrollable]="true" [tableStyle]="{'min-width':'30rem'}" [value]="(allHeros$ | async) ?? [] | hero:joueur.code">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Nom</th>
                            <th>Niveau</th>
                            <th>Type</th>
                            <th>Session</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-hero>
                        <tr (click)="handleSelect(hero.nom)">
                            <td class="{{hero.vivant? 'c-green' : 'c-red'}}">{{hero.nom}}</td>
                            <td>{{hero.niveau}}</td>
                            <td>{{hero.origine | heroType: herosTypes ?? []}}</td>
                            <td><p-inputSwitch *ngIf="hero.vivant" [(ngModel)]="hero.actif" (onChange)="changeSession($event,hero.nom)"></p-inputSwitch></td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-template>
            <ng-template pTemplate>
                <div  *ngFor="let hero of (hero$ | async) ??[]" class="mw-20">
                    <div class="text-center" ><h2>{{hero['nom']}}</h2></div>
                    
                    <div>Or {{hero['or']}}</div>
                    <div>Point de destin {{hero['destin']}}</div>
                    <div>
                        <p>stuff</p>
                        <div *ngFor="let arme of ((armes$ | async)?.armes ?? []) ">{{arme['libelle']}}</div>
                    </div>
                </div>
            </ng-template>
        </p-splitter>
    </p-tabPanel>
    <br/>
    <p-button class="m-2" (onClick)="triggerAjouter()">Ajouter </p-button>
    <br/>
</p-tabView>
<p-sidebar [(visible)]="sidebarVisible">
    <div class="add-panel">
            <div class="mt-2">
                <span>Joueur : </span>
                <p-dropdown 
                [options]="joueurs" 
                [(ngModel)]="addJoueur" 
                name="addJoueur"
                optionLabel="code" 
                optionValue="code"
                placeholder="Joueur"
                class="w-12" />
            </div>
            <div class="mt-2">
                <span>Nom :  </span>
                <input type="text" pInputText [(ngModel)]="addNom" />
            </div>
            <div class="mt-2">
                <span>Origine :  </span>
                <p-autoComplete
                [(ngModel)]="addOrigine"
                name="addOrigine"
                [dropdown]="true"
                [suggestions]="herosTypesSelect??[]"
                optionLabel="libelle"
                placeholder="origine"
                (completeMethod)="search($event)"  />
            </div>
            <div class="mt-2">
                <span>Metier :  </span>
                <p-autoComplete
                [(ngModel)]="addMetier"
                name="addMetier"
                [dropdown]="true"
                [suggestions]="herosMetiersSelect??[]"
                optionLabel="libelle"
                placeholder="origine"
                (completeMethod)="searchMetier($event)"  />
            </div>
            <div class="mt-2">
                <span>Niveau :  </span>
                <p-inputNumber  [(ngModel)]="addNiveau" name="addNiveau" />
            </div>
            <div class="mt-2">
                <span>Or :  </span>
                <p-inputNumber [(ngModel)]="addOr" name="addOr"/>
            </div>
            <div class="mt-2"> 
                <span>Point de destin : </span>
                <p-inputNumber  [(ngModel)]="addDestin" name="addDestin"/>
            </div>
            <div class="mt-2"> 
                <p-button (onClick)="valider()" >Valider</p-button>
            </div>
    </div>
</p-sidebar>
<p-sidebar [(visible)]="sidebarRigthVisible">
    <div class="add-panel">
            <div class="mt-2">
                <span>Armes :  </span>
                <p-multiSelect 
                [options]="herosArmesSelect"
                [(ngModel)]="addArmes"
                optionLabel="libelle"
                placeholder="armes" />
            </div>
            <div class="mt-2">
                <span>Armures :  </span>
                <p-multiSelect 
                [options]="herosArmuresSelect"
                [(ngModel)]="addArmures"
                optionLabel="libelle"
                placeholder="armures" />
            </div>
            <div class="mt-2"> 
                <p-button (onClick)="validerStuff()" >Valider</p-button>
            </div>
    </div>
</p-sidebar>

<p-confirmDialog>
    <ng-template #message let-message>
        <div class="flex flex-col items-center w-full gap-4 border-b border-surface-200 dark:border-surface-700">
            <i [ngClass]="message.icon" class="!text-6xl text-primary-500"></i>
            <p>{{ message.message }}</p>
        </div>
    </ng-template>
</p-confirmDialog>
    