<div class="main">
    <select (change)="onChangedVille($event)">
        <option value="" disabled selected>Choisissez...</option>
        <option *ngFor="let ville of villes" [value]="ville.libelle">{{ville.libelle}}</option>
    </select>

    <p-table 
    [value]="items"
    [scrollable]="true"
    dataKey="categorie.code" 
    rowGroupMode="subheader" 
    groupRowsBy="categorie.code" >
        <ng-template pTemplate="header">
            <tr>
                <th pFrozenColumn>Nom</th>
                <th pFrozenColumn pSortableColumn="prix">Prix</th>
                <th>Dégats</th>
                <th>AT / PRD</th>
                <th>RUP</th>
                <th pSortableColumn="courage">COU</th>
                <th pSortableColumn="intelligence">INT</th>
                <th pSortableColumn="charisme">CHA</th>
                <th pSortableColumn="adresse">AD</th>
                <th pSortableColumn="force">FO</th>
                <th pSortableColumn="chance">CHN</th>
                <th>Informations</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="groupheader" let-item  let-expanded="expanded">
            <tr style="height: 2rem;">
                <td colspan="13">
                    <button 
                        style="color:white;"
                        type="button" 
                        pButton 
                        pRipple 
                        [pRowToggler]="item" 
                        class="p-button-text p-button-rounded p-button-plain mr-2" 
                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
                    </button>
                    <span class="font-bold ml-2">{{item.categorie.libelle}}</span>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-item>
            <tr>
                <td pFrozenColumn>{{item.libelle}}</td>
                <td pFrozenColumn [innerHTML]="item.prix | promotion"></td>
                <th>{{item.degats}}</th>
                <th>{{item.attaque}} / {{item.parade}}</th>
                <th>{{item.rupture}}</th>
                <th>{{item.courage}}</th>
                <th>{{item.intelligence}}</th>
                <th>{{item.charisme}}</th>
                <th>{{item.adresse}}</th>
                <th>{{item.force}}</th>
                <th>{{item.chance}}</th>
                <th>{{item.informations}}</th>
            </tr>
        </ng-template>
    </p-table>
</div>