
.main{
  width: 80%;
  margin: auto;
  flex-direction: column;
  display: flex;
  justify-content: center;
  }
  .panel-header{
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
  }
  .panel-header-option{
    background-color: cadetblue;
    border: 2px solid cadetblue;
    border-radius: 5px;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height:3rem;
  }
  
  .panel-header-option.active{
    border: 2px solid coral;
  }

  .hidden{
    display: none;
  }
  
  .header{
    width: 100%;
    background: cadetblue;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    height: 3rem;
    align-items: center;
}
.small-header{
    display: none;
}
.header > div {
    display: flex;
    justify-content:center;
    width: 13%;
}
.header > div:first-child{
    width: 22%;
}

  .list > div{
    min-height: 3rem;
    margin-top: 0.5rem;
    background-color: lightsteelblue;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.list-item:nth-child(even){
    background:whitesmoke;
}
.list > div:hover{
    cursor:pointer;
}
.list-item-needs{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.list-item-needs > div{
    display: flex;
    justify-content:center;
    width: 13%;
}
.list-item-needs > div:first-child{
    width: 22%;
}
.list-item-needs > div.min{
    color:#0B6623;
}
.list-item-needs > div.max{
    color:#BA0021;
}
.list-item-details{
    font-weight: 100;
    display: flex;
    margin: 5px;
    flex-direction: column;
    height: auto;
}
.list-item-details .parts{
    display: flex;
    align-items: flex-start;
}
.list-item-details-items{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin:0.2rem;
}
.list-item-details  span{
    margin-left:0.5rem;
    padding:0.2rem;
    border: 2px solid black;
    border-radius: 5px;
}
.title{
    font-weight: bold;
    color:#145DA0;
    margin-right: 1rem;
}
.btn-metier{
    width: 10rem;
    height: 0.5rem;
    margin-top: 1rem;
    border: 2px solid black;
    background: cadetblue;
    font-weight: bold;
    border-radius: 10px;
}

.btn-metier:hover{
    cursor:pointer;
}


@media (max-width: 1250px) {
    .main{
        width: 100%;
    }
    body{
        font-size: xx-large;
    }
    .normal-header{
        display: none;
    }
    .small-header{
        display: block;
    }
    .list-item-details > div{
        margin-top: 0.5rem;
    }
    .list-item-details-items{
        flex-wrap: wrap;
    }
    .list-item-details-items > span{
        margin-top: 0.5rem;
    }
    
    .btn-metier{
        width: 5rem;
        height: 1.5rem;
        font-size: large;
    }
.list-item-details .parts{
  flex-direction: column;
  }
}