.hero-card-layout{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap:1rem;
}

.hero-card{
    padding:0.5rem;
    border:1px solid white;
    border-radius: 10px;
}

.header{
    font-weight: bold;
    text-align: center;
}

.body{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.row{
    margin-top:0.5rem;
}

.input-sm{
    width: 5rem;
    margin: 0;
}

::ng-deep.p-inputnumber {
    width: 5rem;
    margin: 0;
}

::ng-deep.p-inputnumber-input{
    width: 5rem;
    margin: inherit;
}

.p-editable-column{
    text-align: center;
}

.hero-row{
    display: flex;
        padding: 1rem;
    border: 2px solid white;
    border-radius: 10px;
    align-items: center;
        height: 3rem;
    width: 70rem;
    > .action{
            height: inherit;
            display: flex;
            align-items: center;
            width: 60rem;
            justify-content: space-around;
            > .action{
            justify-content: space-around;
            height: inherit;
            display: flex;
            align-items: center;
            }
    }
}

.hero-name{
        width: 10rem;
        color:#c8aa6e;
    }

.row > p-button{
    margin-left: 0.5rem;
}

::ng-deep.p-autoComplete{
    margin-right: 0.5rem;
}

::ng-deep .p-overlay{
  background-color: var(--bg-main);
  color: var(--text-main);
}

.row-flex{
    display: flex;
    justify-content: space-between;
}

.flex-start{
    display: flex;
    justify-content: start;
}

.flex-end{
    display: flex;
    justify-content: end;
}

.flex-start , .flex-end{
    gap:0.5rem;
}

.next-tour{
    margin-top:1rem;
    display:flex;
    align-items: center;
    gap:1rem;
}

.row-button{
    display: flex;
    justify-content: space-around;
}