.boutique-table .p-datatable {
  background-color: var(--bg-secondary);
  color: var(--text-main);
  border: 1px solid var(--border);
}

.boutique-table .p-datatable-thead > tr > th {
  background-color: var(--bg-secondary);
  color: var(--accent);
  border-bottom: 1px solid var(--border);
}

.boutique-table .p-datatable-tbody > tr > td {
  background-color: var(--bg-main);
  color: var(--text-main);
  border-color: var(--border);
}

.group-header {
  background-color: var(--hover);
  color: var(--accent);
  font-weight: bold;
  text-align: left;
  font-size: 1.1rem;
}
