    <p-table 
    [value]="items"
    styleClass="p-datatable-striped"
    [scrollable]="true" styleClass="mt-3"
    dataKey="categorie.code" 
    rowGroupMode="subheader" 
    groupRowsBy="categorie.code" 
    [tableStyle]="{'min-width': '70rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th pFrozenColumn>Nom</th>
                <th pFrozenColumn>Prix</th>
                <th>Dégats</th>
                <th>AT / PRD</th>
                <th>RUP</th>
                <th>COU</th>
                <th>INT</th>
                <th>CHA</th>
                <th>AD</th>
                <th>FO</th>
                <th>CHN</th>
                <th>Informations</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="groupheader" let-item  let-expanded="expanded">
            <tr  style="font-weight:bolder;background: rgb(0, 28, 50);">
                <td colspan="13">
                    <div>{{item.categorie.libelle}}</div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td pFrozenColumn>{{item.libelle}} <span [innerHTML]="item.origine | origine"></span></td>
                <td pFrozenColumn [innerHTML]="item.prix | originePrix : item.origine |  promotion"></td>
                <th [innerHTML]="item.degats | bonusDegat : item.origine"></th>
                <th>{{item.attaque}} / {{item.parade}}</th>
                <th [innerHTML]="item.rupture | bonusRupture : item.origine"></th>
                <th>{{item.courage}}</th>
                <th>{{item.intelligence}}</th>
                <th>{{item.charisme}}</th>
                <th [innerHTML]="item.adresse | bonusAd : item.origine" ></th>
                <th [innerHTML]="item.force | bonusForce : item.origine"></th>
                <th>{{item.chance}}</th>
                <th [innerHTML]="item.informations| bonusInfo : item.origine"></th>
            </tr>
        </ng-template>
    </p-table>