<br>
<p-tabView  (onChange)="onTabChange($event)"> 
    <p-tabPanel header="Global" >
        <div class="chart-grid">
                    <div class="chart" 
                    [class.expanded]="expandedChart === 'dataOrigines'" 
                    *ngIf="expandedChart === null || expandedChart === 'dataOrigines'">
                         <p-chart type="bar"
                         #chart 
                        [data]="dataOrigines"
                        [options]="optionsBardataOrigines" />
                    <i
                    class="pi"
                    [ngClass]="{
                    'pi-arrow-up-right-and-arrow-down-left-from-center': expandedChart !== 'dataOrigines',
                    'pi-arrow-down-left-and-arrow-up-right-to-center': expandedChart === 'dataOrigines'
                    }"
                    (click)="toggleChart('dataOrigines')"
                    style="cursor:pointer"
                ></i>
            </div>
                    <div class="chart" 
                    [class.expanded]="expandedChart === 'dataMetiers'" 
                    *ngIf="expandedChart === null || expandedChart === 'dataMetiers'">
                        <p-chart
                         #chart  type="bar" [data]="dataMetiers" [options]="optionsBardataMetiers"/>        
                    <i
                    class="pi"
                    [ngClass]="{
                    'pi-arrow-up-right-and-arrow-down-left-from-center': expandedChart !== 'dataMetiers',
                    'pi-arrow-down-left-and-arrow-up-right-to-center': expandedChart === 'dataMetiers'
                    }"
                    (click)="toggleChart('dataMetiers')"
                    style="cursor:pointer"
                ></i>
            </div>
                    <div class="chart" 
                    [class.expanded]="expandedChart === 'dataCrits'" 
                    *ngIf="expandedChart === null || expandedChart === 'dataCrits'">
                        <p-chart 
                         #chart type="bar" [data]="dataCrits" [options]="optionsBardataCrits"/>
                    <i
                    class="pi"
                    [ngClass]="{
                    'pi-arrow-up-right-and-arrow-down-left-from-center': expandedChart !== 'dataCrits',
                    'pi-arrow-down-left-and-arrow-up-right-to-center': expandedChart === 'dataCrits'
                    }"
                    (click)="toggleChart('dataCrits')"
                    style="cursor:pointer"
                ></i>
            </div>
                    <div class="chart"
                    [class.expanded]="expandedChart === 'dataEchecCrits'" 
                    *ngIf="expandedChart === null || expandedChart === 'dataEchecCrits'">
                        <p-chart 
                         #chart type="bar" [data]="dataEchecCrits" [options]="optionsBardataCritsdataEchecCrits"/>
                    <i
                    class="pi"
                    [ngClass]="{
                    'pi-arrow-up-right-and-arrow-down-left-from-center': expandedChart !== 'dataEchecCrits',
                    'pi-arrow-down-left-and-arrow-up-right-to-center': expandedChart === 'dataEchecCrits'
                    }"
                    (click)="toggleChart('dataEchecCrits')"
                    style="cursor:pointer"
                ></i>
            </div>
                    <div class="chart" 
                    [class.expanded]="expandedChart === 'dataDegatsTotal'" 
                    *ngIf="expandedChart === null || expandedChart === 'dataDegatsTotal'">
                        <p-chart 
                         #chart type="bar" [data]="dataDegatsTotal" [options]="optionsBardataDegatsTotal"/>
                    <i
                    class="pi"
                    [ngClass]="{
                    'pi-arrow-up-right-and-arrow-down-left-from-center': expandedChart !== 'dataDegatsTotal',
                    'pi-arrow-down-left-and-arrow-up-right-to-center': expandedChart === 'dataDegatsTotal'
                    }"
                    (click)="toggleChart('dataDegatsTotal')"
                    style="cursor:pointer"
                ></i>
            </div>
                    <div class="chart" 
                    [class.expanded]="expandedChart === 'dataDegatsMax'" 
                    *ngIf="expandedChart === null || expandedChart === 'dataDegatsMax'">
                        <p-chart 
                         #chart type="bar" [data]="dataDegatsMax" [options]="optionsBardataDegatsMax"/>
                    <i
                    class="pi"
                    [ngClass]="{
                    'pi-arrow-up-right-and-arrow-down-left-from-center': expandedChart !== 'dataDegatsMax',
                    'pi-arrow-down-left-and-arrow-up-right-to-center': expandedChart === 'dataDegatsMax'
                    }"
                    (click)="toggleChart('dataDegatsMax')"
                    style="cursor:pointer"
                ></i>
            </div>
            <div class="chart" 
                    [class.expanded]="expandedChart === 'dataEnnemis'" 
                    *ngIf="expandedChart === null || expandedChart === 'dataEnnemis'">
                        <p-chart 
                         #chart type="bar" [data]="dataEnnemis" [options]="optionsBardataEnnemis"/>
                    <i
                    class="pi"
                    [ngClass]="{
                    'pi-arrow-up-right-and-arrow-down-left-from-center': expandedChart !== 'dataEnnemis',
                    'pi-arrow-down-left-and-arrow-up-right-to-center': expandedChart === 'dataEnnemis'
                    }"
                    (click)="toggleChart('dataEnnemis')"
                    style="cursor:pointer"
                ></i>
            </div>
            <div class="chart" 
                [class.expanded]="expandedChart === 'dataRapports'" 
                *ngIf="(expandedChart === null || expandedChart === 'dataRapports') && dataRapports.labels.length > 0"
                >
                <p-chart type="bar"
                        #chart 
                        [data]="dataRapports"
                        [options]="optionsBardataRapports" />
                <i class="pi"
                [ngClass]="{
                    'pi-arrow-up-right-and-arrow-down-left-from-center': expandedChart !== 'dataRapports',
                    'pi-arrow-down-left-and-arrow-up-right-to-center': expandedChart === 'dataRapports'
                }"
                (click)="toggleChart('dataRapports')"
                style="cursor:pointer">
                </i>
            </div>
        </div>
    </p-tabPanel>
    
    <p-tabPanel *ngFor="let joueur of (joueurs ?? [])" [header]="joueur.code" (onAfterToggle)="updateStats(joueur.code)" >
        <div class="top-container">
        <p-panel header="Statistiques"  class="stats-panel">
        <div  class="infos-container">
            <div class="info-stats">
                <div class="info-group-row">
                    <div>Nombre de personnage : </div>
                    <div>{{statistiquesJoueur?.nombrePersonnage}}</div>
                </div>
                <div class="info-group-row">
                    <div>Origine la plus jouée : </div>
                    <div>{{statistiquesJoueur?.origine}}</div>
                </div>
                <div class="info-group-row">
                    <div>Métier le plus joué : </div>
                    <div>{{statistiquesJoueur?.metier}}</div>
                </div>
                <div class="info-group-row">
                    <div>Plus haut niveau : </div>
                    <div>{{statistiquesJoueur?.level}}</div>
                </div>
                <div class="info-group-row">
                    <div>Total de critiques : </div>
                    <div>{{statistiquesJoueur?.totalCritiques}}</div>
                </div>
                <div class="info-group-row">
                    <div>Héro avec le plus de critiques : </div>
                    <div>{{statistiquesJoueur?.heroCritiques}}</div>
                </div>
                <div class="info-group-row">
                    <div>Total d'échecs critiques : </div>
                    <div>{{statistiquesJoueur?.totalEchecs}}</div>
                </div>
                <div class="info-group-row">
                    <div>Héro avec le plus d'échec critiques : </div>
                    <div>{{statistiquesJoueur?.heroEchecs}}</div>
                </div>
                <div class="info-group-row">
                    <div>Total des dégats infligés : </div>
                    <div>{{statistiquesJoueur?.totalDegats}}</div>
                </div>
                <div class="info-group-row">
                    <div>Nombre d'énnemis rencontrés : </div>
                    <div>{{statistiquesJoueur?.totalEnnemis}}</div>
                </div>
            </div>
        </div>
    </p-panel>
    <p-panel header="{{trophesJoueur ?? [] | trophes}}"  class="stats-panel">
            <div >
                <div class="infos-achivement">
                <div class="achivement display-{{trophe.categorie <= 3 || trophe.possede }} {{(trophe.possede ? 'bcolor-'+trophe.categorie : '' )}}" *ngFor="let trophe of (trophesJoueur ?? [])">
                    <div class="icon"><i class="pi pi-crown {{(trophe.possede ? 'color-'+trophe.categorie : '' )}}"></i></div>
                    <div class="message {{(trophe.possede ? 'color-'+trophe.categorie : '' )}}">
                        <div class="title">{{trophe.titre}}</div>
                        <div class="description visible-{{trophe.possede}}">{{trophe.description}}</div>
                    </div>
                </div></div>
            </div>
    </p-panel>
</div>
    </p-tabPanel>
    
</p-tabView  > 