<br>
<p-tabView  (onChange)="onTabChange($event)"> 
    <p-tabPanel header="Global" >
        <div  class="infos-container">
            <div class="info-group">
                <div class="info-group-header">
                    Orines et métiers
                </div>
                <div class="info-group-body">
                    <div class="chart">
                        <p-chart type="bar" [data]="dataOrigines" [options]="optionsBardataOrigines" />
                    </div>
                    <div class="chart">
                        <p-chart type="bar" [data]="dataMetiers" [options]="optionsBardataMetiers"/>
                    </div>
                </div>
            </div>
            <div class="info-group">
                <div class="info-group-header">
                    Equipements
                </div>
                <div class="info-group-body">
                    <div class="chart">
                        <p-chart type="bar" [data]="dataArmes" [options]="optionsBardataArmes"/>
                    </div>
                    <div class="chart">
                        <p-chart type="bar" [data]="dataArmures" [options]="optionsBardataArmures"/>
                    </div>
                </div>
            </div>
            <div class="info-group">
                <div class="info-group-header">
                    Combats
                </div>
                <div class="info-group-body">
                    <div class="chart">
                        <p-chart type="bar" [data]="dataCrits" [options]="optionsBardataCrits"/>
                    </div>
                    <div class="chart">
                        <p-chart type="bar" [data]="dataEchecCrits" [options]="optionsBardataCritsdataEchecCrits"/>
                    </div>
                    <div class="chart">
                        <p-chart type="bar" [data]="dataDegatsTotal" [options]="optionsBardataDegatsTotal"/>
                    </div>
                    <div class="chart">
                        <p-chart type="bar" [data]="dataDegatsMax" [options]="optionsBardataDegatsMax"/>
                    </div>
                </div>
            </div>
            <div class="info-group">
                <div class="info-group-header">
                    Trivia
                </div>
                <div class="info-group-body">
                    <div class="chart">
                        <p-chart type="bar" [data]="dataOrs" [options]="optionsBardataOrs"/>
                    </div>
                    <div class="chart">
                        <p-chart type="bar" [data]="dataKms" [options]="optionsBardataKms"/>
                    </div>
                    <div class="chart">
                        <p-chart type="bar" [data]="dataEnnemis" [options]="optionsBardataEnnemis"/>
                    </div>
                </div>
            </div>
        </div>
    </p-tabPanel>
    
    <p-tabPanel *ngFor="let joueur of (joueurs ?? [])" [header]="joueur.code" (onAfterToggle)="updateStats(joueur.code)" >
        <div class="top-container">
        <p-panel header="Statistiques"  class="stats-panel">
        <div  class="infos-container">
            <div class="info-stats">
                <div class="info-group-row">
                    <div>Nombre de personnage : </div>
                    <div>{{statistiquesJoueur?.nombrePersonnage}}</div>
                </div>
                <div class="info-group-row">
                    <div>Origine la plus jouée : </div>
                    <div>{{statistiquesJoueur?.origine}}</div>
                </div>
                <div class="info-group-row">
                    <div>Métier le plus joué : </div>
                    <div>{{statistiquesJoueur?.metier}}</div>
                </div>
                <div class="info-group-row">
                    <div>Plus haut niveau : </div>
                    <div>{{statistiquesJoueur?.level}}</div>
                </div>
                <div class="info-group-row">
                    <div>Total de critiques : </div>
                    <div>{{statistiquesJoueur?.totalCritiques}}</div>
                </div>
                <div class="info-group-row">
                    <div>Héro avec le plus de critiques : </div>
                    <div>{{statistiquesJoueur?.heroCritiques}}</div>
                </div>
                <div class="info-group-row">
                    <div>Total d'échecs critiques : </div>
                    <div>{{statistiquesJoueur?.totalEchecs}}</div>
                </div>
                <div class="info-group-row">
                    <div>Héro avec le plus d'échec critiques : </div>
                    <div>{{statistiquesJoueur?.heroEchecs}}</div>
                </div>
                <div class="info-group-row">
                    <div>Total des dégats infligés : </div>
                    <div>{{statistiquesJoueur?.totalDegats}}</div>
                </div>
                <div class="info-group-row">
                    <div>Nombre d'énnemis rencontrés : </div>
                    <div>{{statistiquesJoueur?.totalEnnemis}}</div>
                </div>
            </div>
        </div>
    </p-panel>
    <p-panel header="{{trophesJoueur ?? [] | trophes}}"  class="stats-panel">
            <div class="infos-achivement">
                <div class="achivement {{(trophe.possede ? 'bcolor-'+trophe.categorie : '' )}}" *ngFor="let trophe of (trophesJoueur ?? [])">
                    <div class="icon"><i class="pi pi-crown {{(trophe.possede ? 'color-'+trophe.categorie : '' )}}"></i></div>
                    <div class="message {{(trophe.possede ? 'color-'+trophe.categorie : '' )}}">
                        <div class="title visible-{{trophe.categorie <= 3}}">{{trophe.titre}}</div>
                        <div class="description visible-{{trophe.possede}}">{{trophe.description}}</div>
                    </div>
                </div>
            </div>
    </p-panel>
</div>
    </p-tabPanel>
    
</p-tabView  > 