

.max{
    color: red;
  }
  
  .min{
    color:green;
  }

  .parts{
    display:flex;
    flex-direction:column;
    .list-item-details-items{
        margin-top:0.5rem;
      display:flex;
      gap: 0.5rem;
      flex-wrap:wrap;
    }
    .title{
        font-weight: bold;
    }
    margin-bottom: 1rem;
  }

.parts .title {
  color: var(--accent);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.parts .list-item-details-items {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.list-autres .list-item-details-items {
  flex-direction: column;
}

@media (max-width: 900px) { 
    ::ng-deep.p-button.p-button-icon-only{
        width: 2rem;
        height: 2rem;
        margin:0.1rem;
    }
}

@media (min-width: 900px) { 
        .ml-2{
          margin-left:2rem;
        }
      
}